doctype html

html
  head
    title HTML5 Canvas
  body
    canvas#c(width="400", height="400")

    input#top(type="text",placeholder="top")
    input#bottom(type="text",placeholder="bottom")

    script.
      ;(function(){
        var c = document.querySelector('#c');
        var ctx = c.getContext('2d');

        var data = ctx.getImageData(0,0,400,400);
      })()